* {
  margin: 0;
}
body {
  background-color: #f5f6fa;
}

.main-info {
  width: 50%;
  text-align: center;
  margin: 20px auto 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
}
.main-info > h1 {
  padding: 0 0 20px 0;
  font-family: 'Bitcount Grid Double', system-ui;
}
.bitcount-grid-double {
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'slnt' 0, 'CRSV' 0.5, 'ELSH' 0, 'ELXP' 0;
}
.edu-qld-hand {
  font-family: 'Edu QLD Hand', cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}
main {
  padding: 10px;
  display: grid;
  grid-template-rows: 100px 60px 100px;
  align-items: flex-end;
  margin: 30px auto 20px auto;
  width: 50%;
  min-height: 300px;
  background-color: white;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}
.main-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
.josefin-sans {
  font-family: 'Josefin Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
}

#difficulty,
#time {
  width: 200px;
  padding: 5px 5px;
  border-radius: 10px;
}
.btn-div {
  text-align: end;
  margin-right: 30px;
}
#start-btn {
  padding: 10px 25px;
  border-radius: 5px;
  border-color: #008500;
  background-color: white;
  color: #008500;
  font-weight: bold;
}
#start-btn:hover {
  background-color: green;
  color: white;
  cursor: pointer;
}
