* {
  margin: 0;
}

.main-info {
  background-color: rgb(187, 255, 123);
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}
main {
  display: grid;
  grid-template-rows: 100px 50px 100px;
  align-items: flex-end;
  /* justify-content: center; */
  background-color: aquamarine;
  width: 40%;
  min-height: 300px;
  /* padding: 15px; */
  margin: 50px auto 20px auto;
  border: 1px solid;
  border-radius: 10px;
}

.main-div {
  margin: 0 10px;
}

.typing-container {
  position: relative;
  width: 600px;
  height: 120px;
  font-size: 24px;
  font-family: monospace;
}

#highlight-output {
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  white-space: pre-wrap;
  word-wrap: break-word;
  pointer-events: none;
  z-index: 1;
  padding: 10px;
}

#typing-test {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24px;
  font-family: monospace;
  border: 1px solid #ccc;
  background: transparent;
  width: 100%;
  height: 100%;
  color: transparent;
  caret-color: black;
  z-index: 2;
  padding: 10px;
  resize: none;
}
