* {
  margin: 0;
}
body {
  background-color: #f5f6fa;
}

header {
  width: 62%;
  margin: 0 auto;
  padding: 20px;
}

.main-info {
  width: 50%;
  text-align: center;
  margin: 20px auto 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
}
.main-info > h1 {
  padding: 0 0 20px 0;
  font-weight: bold;
  text-decoration: overline;
  color: #4c4c4c;
}
.noto-sans {
  font-family: 'Noto Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  line-height: 25px;
  font-weight: 600;
  font-size: 15px;
  color: gray;
}
main {
  background-color: white;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  width: 31%;
  margin: 20px auto;
  padding: 40px 20px 20px 20px;
}
.main-div {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
  align-items: center;
}
.josefin-sans {
  font-family: 'Josefin Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
}

#difficulty,
#time {
  width: 200px;
  padding: 5px 5px;
  border-radius: 10px;
}
.btn-div {
  display: flex;
  justify-content: flex-end;
}
#start-btn {
  padding: 10px 25px;
  border-radius: 5px;
  border-color: #008500;
  background-color: white;
  color: #008500;
  font-weight: bold;
}
#start-btn:hover {
  background-color: green;
  color: white;
  cursor: pointer;
}
